#
# Dependencies Required to Develop `texgit`
#
# We now use the unified build process offered by pycommons.
#

# pycommons provides lots of utilities
pycommons[dev] == 0.8.88

# for the PDF example
fpdf2 == 2.8.4
